@model UpcomingHolidays.Models.Holiday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>/Holiday/DaysToHoliday</title>
</head>
<body>
    <div> 
        <h3>Number of days to @Model.Name is @Model.NumDaysToHoliday days</h3>
        <img src="@Model.ImageName" />
    </div>
</body>
</html>
